<%= render 'banner', garden: @garden %>

<div class="container">
  <div class="row">
    <% @garden.plants.each do |plant| %>
      <div class="col-4">
        <%= render 'plants/card', plant: plant %>
      </div>
    <% end %>
    <div class="col-4">
      <%= link_to new_garden_plant_path(@garden), class: 'card-trip' do %>
        <img src="https://place-hold.it/320x240/a00/fff/?text=Add%20New%20Plant" />
        <div class="card-trip-infos">
          <div>
            <h2>Add New Plant</h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
